.more-body {
    height: 130vh;
}

.user-component__column .user-component__subtitle2 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 9px;
    color: rgba(0, 0, 0, 0.3);
}

.user-component__column .user-component__text i {
    color: rgb(199, 15, 15);
    margin-left: 2px;
}

.user-component__column:last-child i {
    color: #2F363E;
}

/* icon-rows */
.more-screen .icon-row {
    margin-top: 30px;
}

.more-screen .icon-row__icon span {
    font-weight: 100;
    font-size: 14px;
    margin-top: 15px;
}

.icon-row__icon .icon-row__icon--dot {
    position: relative;
}

.icon-row__dot {
    position: absolute;
    left: 193px;
    top: 210px;
}

/* 0720 */
.more-suggestions {
    margin-top: 40px;
    padding-top: 25px;
    border-top: var(--main-border);
}
.more-suggestions__title {
    font-weight: 600;
    margin-bottom: 25px;
}

.more-suggestions__icons {
    display: flex;
}

.more-suggestions__icon {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestions i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--yellow);
    border-radius: 20px;
    padding: 5px;
}

.more-suggestions__icon-text {
    opacity: 0.7;
}






